<h1><%= @exhibit.name %></h1>
<h3>Looking in, you can see the following animals.</h3>

<% if @exhibit.animals.empty? %>
    <p>There are no animals currently in this exhibit.</p>
<% else %>
    <% @exhibit.animals.each do |animal| %>
        <p>
            <%= animal.name %><br>
            <%= render partial: "animals/show_animal", locals: {animal: animal} %>
        </p>
    <% end %>
<% end %>