<h1>Edit Profile</h1>
<p>
    <%= form_for @user do |f| %>
        <%= render partial: "users/edit_user_form", locals: {form_builder: f, user: @user} %>
    <% end %>
</p>
<p>
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |msg| %>
            <%= msg %><br>
        <% end %>
    <% end %>
    <%= flash[:message] %>
</p>