<h1>List of Exhibits</h1>

<%= link_to "Open New Exhibit", new_zookeeper_user_exhibit_path %>

<% @exhibits.each do |exhibit| %>
    <p>
        <%= link_to "#{exhibit.name}", zookeeper_user_exhibit_path(@user, exhibit) %>
    </p>
<% end %>