<h1>Welcome to the Virtual Zoo!</h1>
<p>To visit the zoo, sign in or create a new account.</p>
<p>
    <%= link_to "Sign In", signin_path %>
    | <%= link_to "Google+", '/auth/google' %>
    | <%= link_to "Create User", new_user_path %>
</p>