<h1>Animals</h1>
<p>
    <% @exhibits.each do |exhibit| %>
        <h3><%= exhibit.name %> Exhibit</h3>
        <% exhibit.animals.each do |animal| %>
            <%= "#{animal.species} - #{animal.name}" %>
            | <%= link_to "View #{animal.name}", zookeeper_user_animal_path(@user, animal) %><br>
        <% end %>
    <% end %>
</p>