<h1><%= @user.username %></h1>
<p>
    <%= form_for @user, url: zookeeper_user_path(@user), method: "PATCH" do |f| %>
        <%= render partial: "users/edit_user_form", locals: {form_builder: f, user: @user} %>
    <% end %>
</p>